<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<table>
  <thead>
    <tr>
      <th>Steam name</th>
      <th>Slothfulness</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.steam_name %></td>
        <td><%= sprintf("%.3f", player.slothfulness) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
