<div class="game">
  <div class="game__turn">
    <h2>Turn</h2>
    <%= turn %>
  </div>

  <div class="game__players-done">
    <h2>Waiting for following players</h2>
    <ul>
      <% unfinished_players.each do |player| %>
        <li><%= player.slack_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="game__timer">
    <h2>Estimated time left</h2>
    <%= distance_of_time_in_words(time_left) %>
  </div>
</div>
