@import "~normalize-css/normalize.css";
@import "~open-color/open-color.scss";

$base-font-color: $oc-gray-8;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fixed-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$heading-font-family: $base-font-family;
$base-line-height: 1.6;
$heading-line-height: 1.2;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    padding: 2rem 4rem;
}

html {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: 62.5%;
    line-height: $base-line-height;
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}
